@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Inter", sans-serif;
  color: #141518;
  width: 100%;
  background: #EEEDF1;
}

/*----------------ТЕХНИЧЕСКИЕ КЛАССЫ---------------*/
._container {
  padding: 0 176px;
  margin: 0 auto;
  max-width: 1440px;
}
@media (max-width: 767px) {
  ._container {
    padding: 0 40px;
  }
}
@media (max-width: 1100px) {
  ._container {
    padding: 0 70px;
  }
}
@media (max-width: 479px) {
  ._container {
    padding: 0 20px;
  }
}

._imgbg {
  position: relative;
}
._imgbg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*----------------ОБЩИЕ КЛАССЫ-----------------*/
.button {
  padding: 16px 48px 17px 48px;
  border-radius: 8px;
  background: #EEEDF1;
  text-align: center;
  height: 53px;
}
@media (max-width: 1100px) {
  .button {
    padding: 16px 33px 17px 33px;
  }
}
@media (max-width: 767px) {
  .button {
    padding: 16px 48px 17px 48px;
  }
}
.button a {
  color: #141518;
  font-size: 16px;
  line-height: 121%;
}
.button_violet {
  background: #6C3EF8;
}
.button_violet a {
  color: white;
  margin: 0 auto;
}

.title {
  font-size: 48px;
  line-height: 112%;
  max-width: 820px;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 767px) {
  .title {
    font-size: 36px;
  }
}
@media (max-width: 479px) {
  .title {
    font-size: 30px;
  }
}

.subtitle {
  font-size: 21px;
  line-height: 133%;
  color: #8C869E;
  max-width: 790px;
  margin: 0 auto;
  text-align: center;
}

.card-text__title {
  margin-top: 34px;
  font-size: 32px;
  line-height: 112.5%;
}
@media (max-width: 599px) {
  .card-text__title {
    margin-top: 26px;
    font-size: 24px;
  }
}
.card-text__text {
  margin-top: 23px;
  font-size: 21px;
  line-height: 133%;
  color: #8C869E;
}
@media (max-width: 599px) {
  .card-text__text {
    margin-top: 18px;
    font-size: 15px;
  }
}

.violet-text {
  font-size: 14px;
  line-height: 114%;
  letter-spacing: 5px;
  color: #6C3EF8;
  text-transform: uppercase;
  margin-left: 10px;
}

/*--------------HEADER----------------*/
.header {
  height: 100px;
  position: relative;
}
@media (max-width: 767px) {
  .header {
    height: none;
  }
}
.header__container {
  background-color: white;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767px) {
  .header__icon {
    display: none;
  }
}
.header__icon_767 {
  display: none;
}
@media (max-width: 767px) {
  .header__icon_767 {
    display: inline-block;
    position: relative;
    z-index: 20;
  }
}
.header__body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 35.5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: top 0.3s ease 0s;
  transition: top 0.3s ease 0s;
}
@media (max-width: 767px) {
  .header__body {
    position: fixed;
    z-index: 3;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-left: 0;
    padding-top: 60px;
    background-color: white;
    display: inline-block;
  }
}
.header__body.active {
  top: 0;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .header__menu {
    display: block;
  }
}
.header__item:not(:last-child) {
  margin-right: 36px;
}
@media (max-width: 1100px) {
  .header__item:not(:last-child) {
    margin-right: 20px;
  }
}
.header__item a {
  color: black;
  font-size: 15px;
}
@media (max-width: 767px) {
  .header__item {
    margin-top: 40px;
  }
  .header__item:not(:last-child) {
    margin-right: 0;
  }
  .header__item a {
    font-size: 20px;
  }
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 365px;
}
@media (max-width: 767px) {
  .header__buttons {
    display: inline-block;
    max-width: 400px;
  }
}
@media (max-width: 767px) {
  .header__button {
    width: 100%;
    margin-top: 20px;
  }
}
.header__button:not(:last-child) {
  margin-right: 36px;
}
@media (max-width: 767px) {
  .header__button:not(:last-child) {
    margin-right: 20px;
  }
}
.header__button a {
  width: 100%;
  display: inline-block;
  text-align: center;
}
.burger-menu {
  width: 30px;
  height: 20px;
  display: none;
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 20;
}
@media (max-width: 767px) {
  .burger-menu {
    display: inline-block;
  }
}
@media (max-width: 479px) {
  .burger-menu {
    right: 20px;
  }
}
.burger-menu::after {
  content: "";
  width: 30px;
  height: 4px;
  background-color: black;
  position: absolute;
  top: 16px;
  left: 0;
  -webkit-transition: top 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: top 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, top 0.3s ease 0s;
  transition: transform 0.3s ease 0s, top 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}
.burger-menu::before {
  content: "";
  width: 30px;
  height: 4px;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: top 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: top 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, top 0.3s ease 0s;
  transition: transform 0.3s ease 0s, top 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}
.burger-menu span {
  height: 4px;
  background-color: black;
  width: 30px;
  position: absolute;
  top: 8px;
  left: 0;
  -webkit-transition: width 0.2s ease 0s;
  transition: width 0.2s ease 0s;
}
.burger-menu.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
}
.burger-menu.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 8px;
}
.burger-menu.active span {
  width: 0;
}

/*---------------HEADER-BLOCK-----------------*/
.header-block__container {
  background-color: white;
  position: relative;
  height: 100%;
}
.header-block__body {
  text-align: center;
  padding-top: 202px;
  padding-bottom: 301px;
}
@media (max-width: 1023px) {
  .header-block__body {
    padding-top: 150px;
    padding-bottom: 220px;
  }
}
@media (max-width: 767px) {
  .header-block__body {
    padding-top: 110px;
    padding-bottom: 170px;
  }
}
@media (max-width: 479px) {
  .header-block__body {
    padding-top: 60px;
  }
}
.header-block__backimage {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 162px;
  bottom: 0;
  left: 0;
}
.header-block__title {
  font-size: 64px;
  line-height: 111%;
  word-spacing: 20px;
}
@media (max-width: 1023px) {
  .header-block__title {
    font-size: 46px;
    word-spacing: 16px;
  }
}
.header-block__subtitle {
  font-size: 24px;
  line-height: 133%;
  color: #8C869E;
  max-width: 802px;
  margin: 21px auto 0 auto;
}
@media (max-width: 1023px) {
  .header-block__subtitle {
    font-size: 18px;
    max-width: 600px;
  }
}
.header-block__form {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4px 5px;
  max-width: 623px;
  margin: 30px auto 0 auto;
  border: 1px solid #9172FA;
  border-radius: 8px;
}
@media (max-width: 675px) {
  .header-block__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.header-block__input {
  padding: 14px;
  font-size: 15px;
  color: #8C869E;
  width: 65%;
}
@media (max-width: 675px) {
  .header-block__input {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    text-align: center;
  }
}
.header-block__button {
  color: white;
  font-size: 17px;
}
@media (max-width: 675px) {
  .header-block__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.header-block__text {
  margin-top: 23px;
  font-size: 13px;
  color: #9172FA;
}
@media (max-width: 1023px) {
  .header-block__text {
    font-size: 10px;
  }
}

/*--------------UNDER-HEADER-----------------*/
.under-header {
  margin-top: 80px;
}
.under-header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -20px -27px;
}
.under-header__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3333%;
          flex: 0 1 33.3333%;
  padding: 20px 27px;
}
@media (max-width: 1023px) {
  .under-header__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 767px) {
  .under-header__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    text-align: center;
  }
}
.under-header__image img {
  width: 100%;
}
.under__title {
  text-align: center;
  margin-top: 90px;
}

/*---------------NOMORE-------------------*/
.first-row {
  margin-top: 200px;
}
@media (max-width: 1023px) {
  .first-row {
    margin-top: 160px;
  }
}
@media (max-width: 767px) {
  .first-row {
    margin-top: 120px;
  }
}
@media (max-width: 479px) {
  .first-row {
    margin-top: 80px;
  }
}
.first-row__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.first-row__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 49%;
          flex: 0 1 49%;
}
.first-row__item:not(:first-child) {
  margin-top: 320px;
}
@media (max-width: 1023px) {
  .first-row__item:not(:first-child) {
    margin-top: 160px;
  }
}
@media (max-width: 767px) {
  .first-row__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .first-row__item:not(:first-child) {
    margin-top: 80px;
  }
}
@media (max-width: 479px) {
  .first-row__item:not(:first-child) {
    margin-top: 50px;
  }
}
.first-row__noitem {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 51%;
          flex: 0 1 51%;
}
.first-row__noitem:not(:first-child) {
  margin-top: 320px;
}
@media (max-width: 1023px) {
  .first-row__noitem:not(:first-child) {
    margin-top: 160px;
  }
}
@media (max-width: 767px) {
  .first-row__noitem {
    display: none;
  }
}
.first-row__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.first-row__title {
  font-size: 42px;
  line-height: 112.5%;
  margin-top: 10px;
}
@media (max-width: 1023px) {
  .first-row__title {
    font-size: 34px;
  }
}
@media (max-width: 767px) {
  .first-row__title {
    text-align: center;
    font-size: 28px;
  }
}
@media (max-width: 479px) {
  .first-row__title {
    text-align: center;
    font-size: 22px;
  }
}
.first-row__text {
  font-size: 21px;
  line-height: 133%;
  color: #8C869E;
  margin-top: 22px;
}
@media (max-width: 767px) {
  .first-row__text {
    text-align: center;
  }
}

.second-row {
  margin-top: 220px;
}
@media (max-width: 1023px) {
  .second-row {
    margin-top: 160px;
  }
}
@media (max-width: 767px) {
  .second-row {
    margin-top: 120px;
  }
}
@media (max-width: 479px) {
  .second-row {
    margin-top: 80px;
  }
}
.second-row__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -27.22px;
}
.second-row__item {
  padding: 0 27.22px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3333%;
          flex: 0 1 33.3333%;
}
@media (max-width: 1023px) {
  .second-row__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 767px) {
  .second-row__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.item-second-row__image img {
  width: 100%;
  height: 100%;
}
.item-second-row__header {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item-second-row__title {
  margin-top: 10px;
  font-size: 32px;
  line-height: 112.5%;
}
@media (max-width: 1023px) {
  .item-second-row__title {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .item-second-row__title {
    text-align: center;
    font-size: 28px;
  }
}
@media (max-width: 479px) {
  .item-second-row__title {
    text-align: center;
    font-size: 22px;
  }
}
.item-second-row__text {
  margin-top: 22px;
  font-size: 21px;
  line-height: 133%;
  color: #8C869E;
}

/*----------------BUILT-----------------*/
.built {
  position: relative;
  padding: 117px 0 105px 0;
}
.built__back-image {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.built__body {
  max-width: 824px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.built__subtitle {
  margin-top: 24px;
}
.built__image {
  margin-top: 54px;
}
.built__image img {
  width: 100%;
  height: 100%;
}

/*----------------------YOUR---------------------------*/
.your {
  padding: 200px 0;
}
@media (max-width: 1023px) {
  .your {
    padding: 120px 0;
  }
}
@media (max-width: 767px) {
  .your {
    padding: 80px 0;
  }
}
@media (max-width: 479px) {
  .your {
    padding: 50px 0;
  }
}
.your__subtitile {
  margin-bottom: 420px;
  margin-top: 24px;
}
@media (max-width: 1023px) {
  .your__subtitile {
    margin-bottom: 220px;
  }
}
@media (max-width: 767px) {
  .your__subtitile {
    margin-bottom: 120px;
  }
}
@media (max-width: 479px) {
  .your__subtitile {
    margin-bottom: 50px;
  }
}
.your__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -27.22px;
}
@media (max-width: 767px) {
  .your__row {
    margin: 0;
  }
}
.your__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33333333%;
          flex: 0 1 33.33333333%;
  padding: 0 27.22px;
}
@media (max-width: 1023px) {
  .your__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .your__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .your__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 0;
  }
}

.item-your__violet-text {
  margin-top: 19px;
}
.item-your__card-text {
  margin-top: -17px;
  margin-left: 10px;
}

/*------------------WHAT------------------*/
.what {
  padding: 117px 0 120px 0;
  position: relative;
}
@media (max-width: 767px) {
  .what {
    padding: 70px 0 70px 0;
  }
}
.what__back-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.what__back-image img {
  -o-object-fit: fill;
     object-fit: fill;
}
.what__body {
  position: relative;
  z-index: 1;
}
.what__title {
  margin-bottom: 61px;
}
.what__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px;
}
.what__column {
  padding: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.what__column:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
}
.what__column:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 67%;
          flex: 0 1 67%;
}
@media (max-width: 767px) {
  .what__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .what__column:nth-child(1) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .what__column:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.item-what {
  padding: 72px 38px 30px 30px;
  border: 1px solid #504B4A;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
@media (max-width: 767px) {
  .item-what {
    padding: 50px 28px 24px 24px;
  }
}
@media (max-width: 479px) {
  .item-what {
    padding: 40px 24px 21px 21px;
  }
}
.item-what__text {
  font-size: 24px;
  line-height: 133%;
  color: #413E49;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
@media (max-width: 767px) {
  .item-what__text {
    font-size: 20px;
  }
}
@media (max-width: 479px) {
  .item-what__text {
    font-size: 18px;
  }
}
.item-what__violet {
  margin-top: 54px;
  font-size: 17px;
  line-height: 117%;
  color: #6C3EF8;
}

/*-------------TRYIT------------*/
.tryit {
  position: relative;
}
.tryit__container {
  padding: 120px 0 144px 0;
}
@media (max-width: 767px) {
  .tryit__container {
    padding: 70px 0 80px 0;
  }
}
.tryit__backimage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.tryit__body {
  position: relative;
  z-index: 1;
}
.tryit__title {
  color: white;
}
.tryit__subtitle {
  margin-top: 24px;
  color: white;
}
.tryit__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4px 5px;
  max-width: 623px;
  margin: 50px auto 0 auto;
  border: 1px solid #9172FA;
  border-radius: 8px;
  background-color: white;
}
@media (max-width: 675px) {
  .tryit__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.tryit__form input {
  width: 65%;
  padding: 14px;
  font-size: 15px;
  color: #8C869E;
}
@media (max-width: 675px) {
  .tryit__form input {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    text-align: center;
  }
}
.tryit__form button {
  color: white;
  font-size: 17px;
}
@media (max-width: 675px) {
  .tryit__form button {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

/*------------OUR---------------*/
.our {
  padding: 200px 0;
}
@media (max-width: 767px) {
  .our {
    padding: 120px 0;
  }
}
@media (max-width: 479px) {
  .our {
    padding: 50px 0;
  }
}
.our__title {
  max-width: none;
  text-align: left;
}
@media (max-width: 767px) {
  .our__title {
    text-align: center;
  }
}
.our__row {
  margin: -10px;
  margin-top: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.our__row:not(:last-child) {
  margin-bottom: 100px;
}
.our__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 10px;
}
@media (max-width: 1023px) {
  .our__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.3333%;
            flex: 0 1 33.3333%;
  }
}
@media (max-width: 767px) {
  .our__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 479px) {
  .our__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.item-our__body {
  height: 100%;
  background: #F9F9FA;
  padding: 30px 40px 62px 40px;
}
@media (max-width: 1023px) {
  .item-our__body {
    padding: 22px 34px 48px 34px;
  }
}
@media (max-width: 767px) {
  .item-our__body {
    padding: 16px 26px 38px 26px;
  }
}
@media (max-width: 479px) {
  .item-our__body {
    padding: 10px 18px 30px 18px;
  }
}
.item-our__image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.item-our__name {
  margin-top: 43px;
  font-size: 21px;
  line-height: 114%;
  text-align: center;
}
.item-our__role {
  margin-top: 13px;
  font-size: 12px;
  line-height: 114%;
  color: #8C869E;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
}

.no-radius img {
  border-radius: 0;
}

/*------------JOIN---------------*/
.join {
  position: relative;
  padding: 117px 0 120px 0;
}
.join__back-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.join__body {
  position: relative;
  z-index: 1;
}
.join__subtitle {
  margin-top: 24px;
}
.join__button {
  color: white;
  font-size: 16px;
  display: block;
  margin: 32px auto 0 auto;
}

/*-------------SIGN UP----------------*/
.signup {
  position: relative;
  padding: 120px 0;
}
.signup__backimage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.signup__body {
  position: relative;
  z-index: 1;
}
.signup__title {
  color: white;
}
.signup__subtitle {
  color: white;
  margin-top: 24px;
}
.signup__form {
  margin: 58px auto 0 auto;
  padding: 12px;
  border-radius: 8px;
  background-color: #fff;
  max-width: 670px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.signup__form > *:not(:last-child) {
  margin-right: 6px;
}
@media (max-width: 767px) {
  .signup__form > *:not(:last-child) {
    margin-right: 0;
    margin-bottom: 12px;
  }
}
@media (max-width: 767px) {
  .signup__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.signup__input {
  border-radius: 8px;
  border: 1px solid #9172FA;
  color: #8C869E;
  font-size: 15px;
  line-height: 153%;
  padding: 13px 16px;
  width: 100%;
}
@media (max-width: 767px) {
  .signup__input {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 6px);
            flex: 0 1 calc(50% - 6px);
  }
}
.signup__button {
  color: white;
  width: 100%;
  font-size: 16px;
}
@media (max-width: 767px) {
  .signup__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

/*-----------FOOTER---------------*/
.footer {
  text-align: center;
  background-color: white;
  padding: 100px 0;
}
.footer__title {
  margin-bottom: 24px;
}
.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 70px;
}
.footer__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}
.footer__icon:not(:last-child) {
  margin-right: 3px;
}
.footer__icon img {
  width: 100%;
  height: 100%;
}