@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Inter", sans-serif;
  color: #141518;
  width: 100%;
  background: #EEEDF1;
}

/*----------------ТЕХНИЧЕСКИЕ КЛАССЫ---------------*/
._container {
  padding: 0 176px;
  margin: 0 auto;
  max-width: 1440px;
}
@media (max-width: 767px) {
  ._container {
    padding: 0 40px;
  }
}
@media (max-width: 1100px) {
  ._container {
    padding: 0 70px;
  }
}
@media (max-width: 479px) {
  ._container {
    padding: 0 20px;
  }
}

._imgbg {
  position: relative;
}
._imgbg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*----------------ОБЩИЕ КЛАССЫ-----------------*/
.button {
  padding: 16px 48px 17px 48px;
  border-radius: 8px;
  background: #EEEDF1;
  text-align: center;
  height: 53px;
}
@media (max-width: 1100px) {
  .button {
    padding: 16px 33px 17px 33px;
  }
}
@media (max-width: 767px) {
  .button {
    padding: 16px 48px 17px 48px;
  }
}
.button a {
  color: #141518;
  font-size: 16px;
  line-height: 121%;
}
.button_violet {
  background: #6C3EF8;
}
.button_violet a {
  color: white;
  margin: 0 auto;
}

.title {
  font-size: 48px;
  line-height: 112%;
}
@media (max-width: 767px) {
  .title {
    font-size: 36px;
  }
}
@media (max-width: 479px) {
  .title {
    font-size: 30px;
  }
}

.subtitle {
  font-size: 21px;
  line-height: 133%;
}

.card-text__title {
  margin-top: 34px;
  font-size: 32px;
  line-height: 112.5%;
}
@media (max-width: 599px) {
  .card-text__title {
    margin-top: 26px;
    font-size: 24px;
  }
}
.card-text__text {
  margin-top: 23px;
  font-size: 21px;
  line-height: 133%;
  color: #8C869E;
}
@media (max-width: 599px) {
  .card-text__text {
    margin-top: 18px;
    font-size: 15px;
  }
}

/*--------------HEADER----------------*/
.header {
  height: 100px;
  position: relative;
}
@media (max-width: 767px) {
  .header {
    height: none;
  }
}
.header__container {
  background-color: white;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767px) {
  .header__icon {
    display: none;
  }
}
.header__icon_767 {
  display: none;
}
@media (max-width: 767px) {
  .header__icon_767 {
    display: inline-block;
    position: relative;
    z-index: 20;
  }
}
.header__body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 35.5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: top 0.3s ease 0s;
  transition: top 0.3s ease 0s;
}
@media (max-width: 767px) {
  .header__body {
    position: fixed;
    z-index: 3;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-left: 0;
    padding-top: 60px;
    background-color: white;
    display: inline-block;
  }
}
.header__body.active {
  top: 0;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .header__menu {
    display: block;
  }
}
.header__item:not(:last-child) {
  margin-right: 36px;
}
@media (max-width: 1100px) {
  .header__item:not(:last-child) {
    margin-right: 20px;
  }
}
.header__item a {
  color: black;
  font-size: 15px;
}
@media (max-width: 767px) {
  .header__item {
    margin-top: 40px;
  }
  .header__item:not(:last-child) {
    margin-right: 0;
  }
  .header__item a {
    font-size: 20px;
  }
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 365px;
}
@media (max-width: 767px) {
  .header__buttons {
    display: inline-block;
    max-width: 400px;
  }
}
@media (max-width: 767px) {
  .header__button {
    width: 100%;
    margin-top: 20px;
  }
}
.header__button:not(:last-child) {
  margin-right: 36px;
}
@media (max-width: 767px) {
  .header__button:not(:last-child) {
    margin-right: 20px;
  }
}
.header__button a {
  width: 100%;
  display: inline-block;
  text-align: center;
}
.burger-menu {
  width: 30px;
  height: 20px;
  display: none;
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 20;
}
@media (max-width: 767px) {
  .burger-menu {
    display: inline-block;
  }
}
@media (max-width: 479px) {
  .burger-menu {
    right: 20px;
  }
}
.burger-menu::after {
  content: "";
  width: 30px;
  height: 4px;
  background-color: black;
  position: absolute;
  top: 16px;
  left: 0;
  -webkit-transition: top 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: top 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, top 0.3s ease 0s;
  transition: transform 0.3s ease 0s, top 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}
.burger-menu::before {
  content: "";
  width: 30px;
  height: 4px;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: top 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: top 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, top 0.3s ease 0s;
  transition: transform 0.3s ease 0s, top 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}
.burger-menu span {
  height: 4px;
  background-color: black;
  width: 30px;
  position: absolute;
  top: 8px;
  left: 0;
  -webkit-transition: width 0.2s ease 0s;
  transition: width 0.2s ease 0s;
}
.burger-menu.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
}
.burger-menu.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 8px;
}
.burger-menu.active span {
  width: 0;
}

/*---------------HEADER-BLOCK-----------------*/
.header-block__container {
  background-color: white;
  position: relative;
  height: 100%;
}
.header-block__body {
  text-align: center;
  padding-top: 202px;
  padding-bottom: 301px;
}
@media (max-width: 1023px) {
  .header-block__body {
    padding-top: 150px;
    padding-bottom: 220px;
  }
}
@media (max-width: 767px) {
  .header-block__body {
    padding-top: 110px;
    padding-bottom: 170px;
  }
}
@media (max-width: 479px) {
  .header-block__body {
    padding-top: 60px;
  }
}
.header-block__backimage {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 162px;
  bottom: 0;
  left: 0;
}
.header-block__title {
  font-size: 64px;
  line-height: 111%;
  word-spacing: 20px;
}
@media (max-width: 1023px) {
  .header-block__title {
    font-size: 46px;
    word-spacing: 16px;
  }
}
.header-block__subtitle {
  font-size: 24px;
  line-height: 133%;
  color: #8C869E;
  max-width: 802px;
  margin: 21px auto 0 auto;
}
@media (max-width: 1023px) {
  .header-block__subtitle {
    font-size: 18px;
    max-width: 600px;
  }
}
.header-block__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4px 5px;
  max-width: 623px;
  margin: 30px auto 0 auto;
  border: 1px solid #9172FA;
  border-radius: 8px;
}
@media (max-width: 675px) {
  .header-block__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.header-block__input {
  padding: 14px;
  font-size: 15px;
  color: #8C869E;
}
@media (max-width: 675px) {
  .header-block__input {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    text-align: center;
  }
}
.header-block__button {
  color: white;
  font-size: 17px;
}
@media (max-width: 675px) {
  .header-block__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.header-block__text {
  margin-top: 23px;
  font-size: 13px;
  color: #9172FA;
}
@media (max-width: 1023px) {
  .header-block__text {
    font-size: 10px;
  }
}

/*--------------UNDER-HEADER-----------------*/
.under-header {
  margin-top: 80px;
}
.under-header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -20px -27px;
}
.under-header__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3333%;
          flex: 0 1 33.3333%;
  padding: 20px 27px;
}
@media (max-width: 1023px) {
  .under-header__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 767px) {
  .under-header__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    text-align: center;
  }
}
.under-header__image img {
  width: 100%;
}
.under__title {
  text-align: center;
  margin-top: 90px;
}

/*---------------NOMORE-------------------*/